* {
  box-sizing: border-box;
}

body {
  color: white;
  background-color: rgb(49, 49, 233);
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
}

.container {
  max-width: 2000px;
 margin: 0 auto;
}
.row {
  display: flex;
}
.column-third {
  width: calc(100% / 3);
}
 {
   margin-left: 150px;
}
h1 {
  margin-bottom: 100px;
  font-size: 70px;
}
.dot {
  margin-left: 300px;
    display:block;
    width:200px;
    height: 200px;
    border-radius: 500px;
    font-size: 25px;
    text-align: center;
    margin-right: 10px;
    background: #fff;
}
h2 {
  font-size: 30px;
}
img {
  margin-top: 40px;
  margin-left: 10px;
  display:inline-block;
   width: 100px;
}
p {

  font-size: 20px;
  line-height: 30px;
}
.textArea1 {
  margin-left: 300px;
}

.textArea2 {
  margin-left: 200px;
}
.textArea2 p {
  max-width: 78%;
}
.textArea3 {
  max-width: 50%;
  margin-left: 300px;
}
