/* body {
  margin-left: 200px;
}

.section1,
.section2,
.section3,
.section4 {
  display: flex;
}

h1,
h2,
h3 {
  font-weight: 700;
}
h1 {
  font-size: 50px;
}

h2,
h3 {
  font-size: 30px;
}
#dk {
  margin-left: 20px;
}

 .p1,
 .p2,
 .p3,
 .p4,
 .p5 {
   line-height: 20px;
   font-size: 20px;
 }



.section2 img {
  width: 180px;
 padding: 40px;
}
.section4 {
  margin-top: 50px;
} */

body {
  margin-left: 100px;
}
.column-one-third,
.row2,
.row3,
.row4 {
  display: flex;
}
h1 {
  font-size: 50px;
}
h2,
h3 {
  font-size: 30px;
}
p {
  font-size: 30px;
}
