.container1 {
  margin: 0 auto;
  max-width: 1200px;
}
.column-full a,
.hero p,
.hero a,
.greyBackground li,
.blackBackground,
.greyBackground p,
.footer {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 500;
}
.column-full {
  display: flex;
  justify-content:space-between;
  align-items: flex-end;
}

.column-full img {
  margin-top: 20px;
  width: 200px;
}

.column-full a {

  text-decoration: none;
  padding: 10px;
  color: gray;
}

.column-full a:nth-of-type(5) {
  text-decoration: none;
  margin-bottom: 20px;
  padding: 15px 20px;
  color: white;
  border-radius: 5px;
  background-color: rgb(31, 82, 129);
}

.greyLine {
  margin-top: 40px;
margin-bottom: 60px;
border-bottom: 1px solid lightgray;
}
.hero {
  position: relative;
}

.hero img {
  width: 1200px;
  filter: brightness(75%);
}

.hero div {
  font-size: 20px;
  color: white;
  position: absolute;
  top: 50px;
  left: 65px;
}

.hero div h1 {
  max-width: 39%;
  font-size: 40px;
}

.hero div p {
  line-height: 30px;
  max-width: 50.5%;
  margin-bottom: 50px;
}

.hero div a {
  font-size: 25px;
  text-decoration: none;
  padding: 15px 40px;
  color: white;
  border-radius: 5px;
  background-color: rgb(31, 82, 129);
}

.container2 {
  font-family: 'Tiempos Headline';
  font-style: normal;
  font-weight: normal;
  margin: 0 auto;
  max-width: 1300px;
}

.greyBackground {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: rgb(233, 233, 233);
  margin-top: 50px;
}

.headerSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.headerSection h2 {
  margin-bottom: 12px;
  color: rgb(58, 57, 57);
  font-size: 30px;
}

.headerSection p {
  color: rgb(58, 57, 57);
  margin: 0;
  max-width: 32%;
  line-height: 30px;
  font-size: 15px;
}

.row {
  font-size: 20px;
  line-height: 55px;
  color: rgb(58, 57, 57);
  margin-top: 50px;
  display: flex;
}

ul {
  list-style: none;
}

.ul1 {
  color: grey;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.ul2 {
  color: grey;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 0;
}

aside {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}
.asideButtonDiv {
  align-items: center;
  display: flex;

}

aside h3 {
  margin: 20px 0 0 0;
  color: grey;
  font-size: 30px;
}

aside p {
  color: grey;
  font-size: 19px;
}
 aside a {
   font-size: 25px;
    text-decoration: none;
    padding: 15px 40px;
    color: white;
    border-radius: 5px;
  background-color: rgb(31, 82, 129);
 }

 .blackBackground {
   position: relative;
   margin-top: 25px;
   padding: 100px 100px 100px 100px;
  background-color: rgb(92, 91, 91);
  color: white;
 }

 .blackBackground img {
   width: 150px;
   margin-bottom: 10px;
 }
 .address {
   line-height: 30px;
 }
 .address a {
   color:white;
   text-decoration: none;
 }

 .companyAndProductColumn {
  display: flex;
  position: absolute;
  top: 80px;
  left: 750px;
 }
 .companyAndProductColumn a {
   font-size: 15px;
   line-height: 40px;
   color: white;
   text-decoration: none;
 }
.company h6,
.product h6 {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 15px;
}
.company {
  display: flex;
  flex-direction: column;
margin-right: 200px;
}

 .product {
  display: flex;
  flex-direction: column;
 }


 .footer {

   display: flex;
  margin-left: 100px;
   font-size: 15px;
   margin-top: 50px;
   margin-bottom: 50px;
 }
 .footer a {
   padding-right: 50px;
   font-weight: bold;
   text-decoration: none;
   color: grey;
 }
/* body {
   font-family: 'Avenir';
}
header {
  border-bottom: 1px solid lightgray;
padding: 10px 10% 10px 10%;
align-items: center;
display: flex;
 justify-content: space-between;
}
header img {
  height: 50px;
}

header nav a {
  transition: 0.5s;
  border-radius: 5px;
 display: inline-block;
  padding: 10px 20px;
  color: dimgray;
  text-decoration: none;
}

header nav a:hover {
  background-color: midnightblue;
  color: white;
}
main {
  margin: 10px 10%;
}
figure.hero {
  margin: 0;
  position: relative;
}
figure.hero img {
max-width: 100%;
filter: brightness(75%);
}

figure.hero figcaption {
  max-width: 40%;
  color: white;
  position: absolute;
  left: 25px;
  top: 25px;
}
figure.hero a {
margin-top: 50px;

}
.Clinicians {
  text-align: center;
}
.locations {
  display: flex;
  justify-content: space-around;
}
.locations  ul {
  list-style-type: none;
  text-align: center;
}
.locations li {
  margin-bottom: 30px;
}
aside {
  margin: 50px 10% 50px 10%;
 padding: 10px 10% 10px 10%;
align-items: flex-start;
  display: flex;
  justify-content: space-between;
}

aside section h3 {
  margin: 0;
}

aside section p {
 margin: 10px 0 0 0;
}

main a, aside a {
  display: inline-block;
  transition: 0.5s;
  border-radius: 4px;
  padding: 10px 20px;
  text-decoration: none;
  background-color: midnightblue;
  color: white;
}
.Clinicians{
   margin: 20px 0 0 0;
}
.Clinicians,
.locations {
  padding: 20px 0;
  background-color: lightgray
}

.locations {
border-bottom:1px solid black;
}

footer {
  background-color: black;
  color: white;
  padding: 100px 0px 100px 0;
}

footer section.whiteCanvas {
  margin: 100px 100px 100px 100px;
}
footer address a {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 1098px) {
  figure.hero figcaption {

    max-width: 60%;
  }
  figure.hero a {
    margin-top: 5px;
  }
  figure.hero h1 {
    font-size: 18px;
  }
}
@media screen and (max-width: 735px) {
  figure.hero figcaption p {
    display: none;
  }
} */
}
